/****************************
/****************************
RESPONSIVE BREAKPOINT 1192px
/****************************
*****************************/

@media all and (max-width: #{$breakpoint__laptop}) {

/********************
Général Front-page
*********************/

    h2 {
        font-size:3em;
    }


/********************
Header - navigation
*********************/

    .site-header {

        .menu-navigation {
            
            #logo-full-menu {
            margin: 2% auto 6%;
            }

            #nav-enfant ul li {
            
                #histoire,
                #persos,
                #lieu,
                #studio-child {
                    font-size: 3em;
                }      
            }  

            #lien-type-footer {
                margin-top: 6%;
            }
        }
    }



/********************
Front_page
*********************/

    .banner {
        padding: 2% 0;
    }

    .story h2 {
       

        &::before {
            top: 3em;
        }

        &::after {
            left:1em;
            top: 10em;
        }
    }

    #characters-swiper-mobile h3 {
        margin-top: 2em;
    }

/********************
Template nomination 
*********************/

    .nomination {
        .texte-oscar {
            width: 65%;

            p {
                font-size: 26px;
                padding: 25px 0;
            }
        }
    }
}


/****************************
/****************************
RESPONSIVE BREAKPOINT 1040 px
/****************************
*****************************/

@media all and (max-width: #{$breakpoint__tablet}) {
   
/********************
Header - navigation
********************/
    
    .site-header {
    
        .menu-navigation {
    
            #logo-full-menu {
                margin: 2% auto 5%;
            }
    
            #nav-enfant ul li {
    
                #histoire,
                #persos,
                #lieu,
                #studio-child {
                    font-size: 2.5em;
                }
            }
    
            #lien-type-footer {
                margin-top: 5%;
            }
        }
    }

/********************
Front_page
*********************/

    .story {

        h2 {
            animation: none;
            margin: 1.5em 0 0 0;

            &::before {
                top: 1em;
            }

            &::after {
                top:8em;
            }
        }

        &__article {

            padding-bottom:0;

            &::before {
                animation: none;
                left: 42%;
                top: 10em;
            }

            &::after {
                animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;  
                left: calc(42% + 414px);
                top: 2.5em;
            }
        }
    }

/********************
template swiper
*********************/

    #characters-swiper-mobile h3 {
        margin-top: 2em;
    }

/********************
template nomination
*********************/

    .nomination {
        overflow: visible;

        .texte-oscar {
            width:70%;
        }

        .texte-oscar p {
            padding: 16px 25px 16px 25px;
        }

        .image-oscar {
            width: 26%;
        }
        
    }

    .site-footer::before {
        top: -43em;
        left: 7em;
    }
}

/****************************
/****************************
RESPONSIVE BREAKPOINT 920 px
/****************************
*****************************/

@media all and (max-width: #{$breakpoint__small_tablet}) {

    /********************
    Header - navigation
    *********************/
        
    .site-header .menu-navigation {
        
        #logo-full-menu {
            margin: 4% auto 7%;
        }
        #lien-type-footer {
            margin-top: 5%;
        }
    }

    /********************
    Template nomination
    *********************/

        .nomination .texte-oscar {
            width: 72%;

            p {
                padding: 19px 10px 19px 0px;
            }
        }
}

/****************************
/****************************
RESPONSIVE BREAKPOINT 700 px
/****************************
*****************************/

@media all and (max-width: #{$breakpoint__large_phone}) {
   
    /********************
     Header - Navigation
    *********************/

    .site-header .menu-navigation {
        
        #logo-full-menu {
            margin: 4% auto;
        }
        
        #lien-type-footer {
            margin-top: 3%;
            }
        }
    
    .site-header .menu-navigation #nav-enfant ul {
        
        #li1:after {
            top: -200%;
            right: 2%;
        }

        #li1:before {
            top: -160%;
            left: -7%;
        }
        #li2:before {
            top: -80%;
            left: 10%;
        }

        #li2:after {
            top: -120%;
            right: -16%;
        }

        #li3:before {
            top: 55%;
            left: 6%;
        }

        #li3:after {
            bottom: -26%;
            right: 5%;
        }
     

        #li4:before {
            bottom: -50%;
            left: 11%;
        }

        #li4:after {
        right: -43%;
        top: 75%;
        }

        li #histoire,
        li #persos,
        li #lieu,
        li #studio-child {
            font-size: 1.8em;
            margin-bottom: 1em;
            margin-top: 1em;
        }
    }



    /********************
    Template nomination 
    *********************/

    .nomination {

        padding-top:80px;

        .texte-oscar {

            width:100%;

            p {
                font-size: 26px;
                padding: 20px;
            }
        }

        .image-oscar {
            width:100%;
            text-align: center;
        }
    }
}

/****************************
/****************************
RESPONSIVE BREAKPOINT 480 px
/****************************
*****************************/

@media all and (max-width: 480px) {

    /* Header - navigation */

    .site-header .menu-navigation {

        #logo-full-menu {
            margin: 10% auto 16%;
        }

        #nav-enfant ul {

            #li1:after {
                top: -250%;
                right: -8%;
            }

            #li2:before {
                top: -10%;
                left: 0;
            }

            #li2:after {
                top: -40%;
                right: -25%;
            }

            #li3:after {
                bottom: -240%;
                right: -5%;
            }


            #li4:after, #li3:before {
                display: none;
            }
            
            li {
                #histoire, #persos,#lieu,#studio-child {
                font-size: 1.3em;
                }
            }
        }

        #lien-type-footer {
            margin-top: 20%;
        }
    }

    /* Front-page */

    .banner {
        padding : 5% 0;
    }

    /* Template swiper */

    .swiper {
        max-height: 250px;
    }

    /* Template nomination */

    .nomination {
        width:100%;

        .texte-oscar p {
            font-size: 18px;
            padding: 19px 30px 30px 0px;
            text-align: center;
        }
    }
}