/* KEYFRAMES */

// Déclaration des variables SCSS
$animation-timing: ease-in-out;
$animation-duration: 2s;
$animation-duration-titre: 4s;
$animation-delay: 2s;

// Conversion des variables SCSS en variables CSS
:root {
    --animation-duration: #{$animation-duration};
    --animation-delay: #{$animation-delay};
}


@keyframes mooveDownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mooveUpLogo {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    25%,
    40% {
        opacity: 0.25;
    }
    55% {
        opacity: 0.65;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mooveUpAnimation {
    0% {
        opacity: 0.5;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mooveUpAnimationOrangeFlower {
    0% {
        opacity: 0.7;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mooveUpAnimationLeavesOrangeFlower {
    0% {
        opacity: 0.7;
        transform: translateY(55%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mooveUpAnimationFooter {
    0% {
        opacity: 0.5;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(2%);
    }
}

@keyframes mooveUpAnimationFlowersFooter {
    0% {
        opacity: 0.5;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes rotatingFlowers {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animationTitre1 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    20% {
        transform: translateY(90%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes animationTitre2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    20% {
        transform: translateY(90%);
        opacity: 0;
    }

    30% {
        transform: translateY(80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}



/* ANIMATIONS SECTIONS ET FLEURS */

.site {
    overflow: hidden;
}


.banner {
    animation: mooveDownAnimation #{$animation-timing} $animation-duration;
    position: relative;

    img {
        animation: mooveUpLogo #{$animation-timing} $animation-duration;
        animation-iteration-count: 1;
        max-height: 100%;
    }
    .fixed {
        position: fixed;
        max-width: 720px;
        top: 34%;
    }
    .absolute {
        position: absolute;
        bottom: 0;
        max-width: 720px;
    }
}

.story {
    
    h2 {
        width: 100%;
        z-index: 1;
        animation: mooveUpAnimation #{$animation-timing} $animation-duration;
        background-color: transparent;

        &::after {
            width:155px;
            height:155px;
            animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite;
        }
    }

    &__article {

        &::before {
            animation: mooveUpAnimationLeavesOrangeFlower #{$animation-timing} $animation-duration;
        }
        &::after {
            animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationOrangeFlower #{$animation-timing} $animation-duration;
            z-index: 2;
        }
        p {
            z-index: 0;
        }
    }
}

#characters,
#place,
#studio {
    animation: mooveUpAnimation #{$animation-timing} $animation-duration;
}

#place {
    h3 {
        animation: mooveUpAnimation #{$animation-timing} $animation-duration;
    }
    p {
        animation: mooveDownAnimation #{$animation-timing} $animation-duration;
    }
}

#studio {

    h2 {
        animation: mooveUpAnimation #{$animation-timing} $animation-duration;
        background-color: transparent;

        &::before {
            width: 203px;
            height: 203px;
        }

        &::after {
            width: 109px;
            height:109px;
        }
        &::before, &::after {
            animation : rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite;
        }
    }
    >div::before {
        animation: mooveUpAnimation #{$animation-timing} $animation-duration;
    }

}

.site-footer {

    overflow:visible;

    &::after {
        bottom: 47em;
        animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationFlowersFooter #{$animation-timing} $animation-duration;
    }

    &::before {
        width: 155px;
        height: 155px;
        top: -33em;
        left: 5em;
        animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite,
        mooveUpAnimationFlowersFooter #{$animation-timing} $animation-duration;
    }

    ul {

        animation: mooveUpAnimationFooter #{$animation-timing} $animation-duration;

        &::after {
            animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationFooter #{$animation-timing} $animation-duration;               
        }
    }

}

/* ANIMATIONS TITRES */

.anim-titre-initial {
    opacity: 0;
}

.anim-titre-1 {
    display: inline-block;
    animation: animationTitre1 1.5s ease;
}

.anim-titre-2 {
    display: inline-block;
    margin-left:0.4em;
    animation: animationTitre2 2s ease;
}

/* TEMPLATE NOMINATION OSCAR */

.nomination {
    padding: 160px 0 100px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    animation: mooveUpAnimation #{$animation-timing} $animation-duration;

    .texte-oscar {
            background-image: url("assets-images-videos/Rectangle 23.png");  
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0 35px 0px 70px;
            width :73%;
            display: flex;       

            p {
                color: #FFF5E9;
                font-family: 'Quicksand', sans-serif;
                font-size: 42px;
                font-weight: bold;
                display: flex;
                padding: 5px;
            }
    }
    
    .image-oscar {
        margin: 3em 3em 0 0;
    }
}



