@charset "UTF-8";
@keyframes entreeFadeMenu {
  0% {
    opacity: 0.8;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animationMenuTitre {
  0% {
    transform: translateY(-200%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
html, body, #page, .site, header {
  min-height: 100%;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}
.site-header .main-navigation #site-title {
  margin: 0 auto;
  display: block;
  width: 50%;
  text-align: center;
  padding-top: 1em;
  font-weight: 700;
  font-size: 1.5em;
}
.site-header .main-navigation #site-title:hover {
  color: black;
}
.site-header .main-navigation .burger {
  width: 32px;
  height: 24px;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  z-index: 20;
  position: absolute;
  top: 40px;
  right: 30px;
}
.site-header .main-navigation .burger span {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}
.site-header .main-navigation .burger span::before,
.site-header .main-navigation .burger span::after {
  content: "";
  width: 100%;
  background-color: black;
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}
.site-header .main-navigation .burger span::before {
  transform: translateY(-10px);
}
.site-header .main-navigation .burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}
.site-header .main-navigation .burger.active span {
  background-color: transparent;
}
.site-header .main-navigation .burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}
.site-header .main-navigation .burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}
.site-header .actif-menu {
  visibility: visible;
  animation: entreeFadeMenu 2s ease;
}
.site-header .inactif-menu {
  visibility: hidden;
}
.site-header .menu-navigation {
  min-width: 100%;
  min-height: 100%;
  background-color: #FFF5E9;
  position: absolute;
  top: 80px;
  right: 0;
  overflow: hidden;
}
.site-header .menu-navigation #logo-full-menu {
  display: block;
  margin: 2% auto 4%;
  animation: flottement 8s ease-in infinite alternate both;
}
.site-header .menu-navigation #nav-enfant {
  width: 100%;
}
.site-header .menu-navigation #nav-enfant ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.site-header .menu-navigation #nav-enfant ul li {
  text-align: center;
  display: block;
  position: relative;
}
.site-header .menu-navigation #nav-enfant ul #li1:before {
  content: url("assets-images-videos/orchid.png");
  position: absolute;
  top: -60%;
  left: -4%;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.site-header .menu-navigation #nav-enfant ul #li1:after {
  content: url("assets-images-videos/Sunflower.png");
  position: absolute;
  top: -25%;
  right: 15%;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.site-header .menu-navigation #nav-enfant ul #li2:before {
  content: url("assets-images-videos/cat-burger-violet.png");
  position: absolute;
  top: -110%;
  left: 20%;
  animation: flottement 6s ease-in infinite alternate both;
}
.site-header .menu-navigation #nav-enfant ul #li2:after {
  content: url("assets-images-videos/random_flower.png");
  position: absolute;
  top: 0;
  right: -7%;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.site-header .menu-navigation #nav-enfant ul #li3:before {
  content: url("assets-images-videos/flower.png");
  position: absolute;
  top: 10%;
  left: 12%;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.site-header .menu-navigation #nav-enfant ul #li3:after {
  content: url("assets-images-videos/cat-burger-noir.png");
  position: absolute;
  bottom: -10%;
  right: 15%;
  animation: flottement 6s ease-in infinite alternate both;
}
.site-header .menu-navigation #nav-enfant ul #li4:before {
  content: url("assets-images-videos/cat-burger-marron.png");
  position: absolute;
  bottom: -30%;
  left: 2%;
  animation: flottement 8s ease-in infinite alternate both;
}
.site-header .menu-navigation #nav-enfant ul #li4:after {
  content: url("assets-images-videos/hibiscus_footer.png");
  position: absolute;
  right: -23%;
  top: -10%;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.site-header .menu-navigation #nav-enfant ul #histoire, .site-header .menu-navigation #nav-enfant ul #persos, .site-header .menu-navigation #nav-enfant ul #lieu, .site-header .menu-navigation #nav-enfant ul #studio-child {
  text-decoration: none;
  font-size: 3.5em;
  display: block !important;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animationTitre 3s ease;
}
.site-header .menu-navigation #nav-enfant ul #histoire:hover, .site-header .menu-navigation #nav-enfant ul #persos:hover, .site-header .menu-navigation #nav-enfant ul #lieu:hover, .site-header .menu-navigation #nav-enfant ul #studio-child:hover {
  color: black;
  background-size: 0;
  text-shadow: 0px 0px 14px #FF5C00;
}
.site-header .menu-navigation #nav-enfant ul #histoire {
  background-image: url("assets-images-videos/purple_title_bg.png");
  width: 28%;
  padding: 3%;
}
.site-header .menu-navigation #nav-enfant ul #persos {
  background-image: url("assets-images-videos/orange_characters_bg.png");
  width: 30%;
  padding: 3%;
}
.site-header .menu-navigation #nav-enfant ul #lieu {
  background-image: url("assets-images-videos/orange_place_bg.png");
  width: 20%;
  padding: 3%;
}
.site-header .menu-navigation #nav-enfant ul #studio-child {
  background-image: url("assets-images-videos/purple_studio_bg.png");
  width: 40%;
  padding: 4%;
}
.site-header .menu-navigation #nav-enfant ul .anim-titre-menu-initial {
  visibility: hidden;
  opacity: 0;
}
.site-header .menu-navigation #nav-enfant ul .anim-titre-menu-charge {
  visibility: visible;
  animation: animationMenuTitre 2s ease;
}
.site-header .menu-navigation #lien-type-footer {
  text-align: center;
  display: block;
  margin-top: 4%;
}

.site {
  overflow: clip;
}

/*********************
KEYFRAMES
*********************/
:root {
  --animation-duration-flower: 6s;
  --animation-delay: 2s;
  --parallax: 0;
}

@keyframes mooveDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  25%, 40% {
    opacity: 0.25;
  }
  55% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimation {
  0% {
    opacity: 0.5;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationOrangeFlower {
  0% {
    opacity: 0.7;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationLeavesOrangeFlower {
  0% {
    opacity: 0.7;
    transform: translateY(55%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationFooter {
  0% {
    opacity: 0.5;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(2%);
  }
}
@keyframes mooveUpAnimationFlowersFooter {
  0% {
    opacity: 0.5;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes rotatingFlowers {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animationTitre1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(90%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes animationTitre2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(90%);
    opacity: 0;
  }
  30% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes flottement {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(2px, 8px);
  }
  10% {
    transform: translate(2px, 16px);
  }
  20% {
    transform: translate(8px, 24px);
  }
  30% {
    transform: translate(4px, 20px);
  }
  40% {
    transform: translate(2px, 16px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  60% {
    transform: translate(-4px, 16px);
  }
  70% {
    transform: translate(-1px, 10px);
  }
  80% {
    transform: translate(-2px, 6px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0);
  }
}
/*********************
GENERAL ET ANIMATIONS SECTIONS
*********************/
.banner {
  background-image: none;
  animation: mooveDownAnimation ease-in-out 2s;
  position: relative;
  padding: 1%;
}
.banner #background-video {
  width: auto;
  height: auto;
  z-index: -1;
  background: url(../foce/assets/images/banner.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.banner .is-sticky {
  animation: flottement 6s 2s ease-in infinite alternate both, mooveUpLogo ease-in-out 2s;
  max-height: 100%;
  position: sticky;
  top: 80px;
}
@supports (position: sticky) {
  .banner .is-sticky {
    position: sticky;
    top: 80px;
  }
}

.story h2 {
  width: 100%;
  z-index: 1;
  animation: mooveUpAnimation ease-in-out 2s;
  background-color: transparent;
}
.story h2::after {
  width: 155px;
  height: 155px;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
.story__article::before {
  animation: mooveUpAnimationLeavesOrangeFlower ease-in-out 2s;
}
.story__article::after {
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite, mooveUpAnimationOrangeFlower ease-in-out 2s;
  z-index: 2;
}
.story__article p {
  z-index: 0;
}
.story #place {
  position: relative;
  background-image: url("assets-images-videos/Studio_Koukaki-image_place.png");
}
.story #place::before {
  content: url("assets-images-videos/big_cloud.png");
  position: absolute;
  top: 12%;
  left: 34%;
  filter: blur(14px);
  width: 316px;
  height: 122px;
  transform: translateX(var(--parallax));
}
.story #place::after {
  content: url("assets-images-videos/little_cloud.png");
  position: absolute;
  top: 37%;
  left: 24%;
  filter: blur(14px);
  width: 142px;
  height: 55px;
  transform: translateX(var(--parallax));
}
.story #place h3 {
  animation: mooveUpAnimation ease-in-out 2s;
}
.story #place p {
  animation: mooveDownAnimation ease-in-out 2s;
}

#characters,
#place,
#studio {
  animation: mooveUpAnimation ease-in-out 2s;
}

#studio h2 {
  animation: mooveUpAnimation ease-in-out 2s;
  background-color: transparent;
}
#studio h2::before {
  width: 203px;
  height: 203px;
}
#studio h2::after {
  width: 109px;
  height: 109px;
}
#studio h2::before, #studio h2::after {
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
}
#studio > div::before {
  animation: mooveUpAnimation ease-in-out 2s;
}

/**********************
ANIMATIONS TITRES 
***********************/
.anim-titre-initial {
  opacity: 0;
  display: inline-block;
}

.anim-titre-1 {
  animation: animationTitre1 1s ease;
}

.anim-titre-2 {
  margin-left: 0.4em;
  animation: animationTitre2 1.5s ease;
}

/********************
TEMPLATE NOMINATION OSCAR 
*********************/
.nomination {
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  animation: mooveUpAnimation ease-in-out 2s;
}
.nomination .texte-oscar {
  background-image: url("assets-images-videos/Rectangle 23.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 35px 0px 70px;
  width: 73%;
  display: flex;
}
.nomination .texte-oscar p {
  color: #FFF5E9;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  font-weight: bold;
  display: flex;
  padding: 5px;
}
.nomination .image-oscar {
  margin-top: 3em;
}

#characters-swiper-mobile {
  width: 80%;
  margin: 0 auto;
  animation: mooveUpAnimation ease-in-out 2s;
}
#characters-swiper-mobile h3 {
  text-align: left;
  background-image: url("../foce/assets/images/orange_characters_bg.png");
  background-position: left;
  padding: 1em;
}
#characters-swiper-mobile .swiper {
  width: 100%;
}
#characters-swiper-mobile .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}
#characters-swiper-mobile .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
#characters-swiper-mobile .swiper .swiper-slide p {
  text-align: center;
  margin: 0;
}

.site-footer {
  overflow: visible;
}
.site-footer::after {
  bottom: 47em;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite, mooveUpAnimationFlowersFooter ease-in-out 2s;
}
.site-footer::before {
  width: 155px;
  height: 155px;
  top: -33em;
  left: 5em;
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite, mooveUpAnimationFlowersFooter ease-in-out 2s;
}
.site-footer ul {
  animation: mooveUpAnimationFooter ease-in-out 2s;
}
.site-footer ul::after {
  animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite, mooveUpAnimationFooter ease-in-out 2s;
}

/****************************
/****************************
RESPONSIVE BREAKPOINT 1192px
/****************************
*****************************/
@media all and (max-width: 1192px) {
  /********************
  Général Front-page
  *********************/
  h2 {
    font-size: 3em;
  }
  /********************
  Header - navigation
  *********************/
  .site-header .menu-navigation #logo-full-menu {
    margin: 2% auto 6%;
  }
  .site-header .menu-navigation #nav-enfant ul li #histoire,
  .site-header .menu-navigation #nav-enfant ul li #persos,
  .site-header .menu-navigation #nav-enfant ul li #lieu,
  .site-header .menu-navigation #nav-enfant ul li #studio-child {
    font-size: 3em;
  }
  .site-header .menu-navigation #lien-type-footer {
    margin-top: 6%;
  }
  /********************
  Front_page
  *********************/
  .banner {
    padding: 2% 0;
  }
  .story h2::before {
    top: 3em;
  }
  .story h2::after {
    left: 1em;
    top: 10em;
  }
  #characters-swiper-mobile h3 {
    margin-top: 2em;
  }
  /********************
  Template nomination 
  *********************/
  .nomination .texte-oscar {
    width: 65%;
  }
  .nomination .texte-oscar p {
    font-size: 26px;
    padding: 25px 0;
  }
}
/****************************
/****************************
RESPONSIVE BREAKPOINT 1040 px
/****************************
*****************************/
@media all and (max-width: 1040px) {
  /********************
  Header - navigation
  ********************/
  .site-header .menu-navigation #logo-full-menu {
    margin: 2% auto 5%;
  }
  .site-header .menu-navigation #nav-enfant ul li #histoire,
  .site-header .menu-navigation #nav-enfant ul li #persos,
  .site-header .menu-navigation #nav-enfant ul li #lieu,
  .site-header .menu-navigation #nav-enfant ul li #studio-child {
    font-size: 2.5em;
  }
  .site-header .menu-navigation #lien-type-footer {
    margin-top: 5%;
  }
  /********************
  Front_page
  *********************/
  .story h2 {
    animation: none;
    margin: 1.5em 0 0 0;
  }
  .story h2::before {
    top: 1em;
  }
  .story h2::after {
    top: 8em;
  }
  .story__article {
    padding-bottom: 0;
  }
  .story__article::before {
    animation: none;
    left: 42%;
    top: 10em;
  }
  .story__article::after {
    animation: rotatingFlowers var(--animation-duration-flower) var(--animation-delay) linear infinite;
    left: calc(42% + 414px);
    top: 2.5em;
  }
  /********************
  template swiper
  *********************/
  #characters-swiper-mobile h3 {
    margin-top: 2em;
  }
  /********************
  template nomination
  *********************/
  .nomination {
    overflow: visible;
  }
  .nomination .texte-oscar {
    width: 70%;
  }
  .nomination .texte-oscar p {
    padding: 16px 25px 16px 25px;
  }
  .nomination .image-oscar {
    width: 26%;
  }
  .site-footer::before {
    top: -43em;
    left: 7em;
  }
}
/****************************
/****************************
RESPONSIVE BREAKPOINT 920 px
/****************************
*****************************/
@media all and (max-width: 920px) {
  /********************
  Header - navigation
  *********************/
  .site-header .menu-navigation #logo-full-menu {
    margin: 4% auto 7%;
  }
  .site-header .menu-navigation #lien-type-footer {
    margin-top: 5%;
  }
  /********************
  Template nomination
  *********************/
  .nomination .texte-oscar {
    width: 72%;
  }
  .nomination .texte-oscar p {
    padding: 19px 10px 19px 0px;
  }
}
/****************************
/****************************
RESPONSIVE BREAKPOINT 700 px
/****************************
*****************************/
@media all and (max-width: 700px) {
  /********************
   Header - Navigation
  *********************/
  .site-header .menu-navigation #logo-full-menu {
    margin: 4% auto;
  }
  .site-header .menu-navigation #lien-type-footer {
    margin-top: 3%;
  }
  .site-header .menu-navigation #nav-enfant ul #li1:after {
    top: -200%;
    right: 2%;
  }
  .site-header .menu-navigation #nav-enfant ul #li1:before {
    top: -160%;
    left: -7%;
  }
  .site-header .menu-navigation #nav-enfant ul #li2:before {
    top: -80%;
    left: 10%;
  }
  .site-header .menu-navigation #nav-enfant ul #li2:after {
    top: -120%;
    right: -16%;
  }
  .site-header .menu-navigation #nav-enfant ul #li3:before {
    top: 55%;
    left: 6%;
  }
  .site-header .menu-navigation #nav-enfant ul #li3:after {
    bottom: -26%;
    right: 5%;
  }
  .site-header .menu-navigation #nav-enfant ul #li4:before {
    bottom: -50%;
    left: 11%;
  }
  .site-header .menu-navigation #nav-enfant ul #li4:after {
    right: -43%;
    top: 75%;
  }
  .site-header .menu-navigation #nav-enfant ul li #histoire,
  .site-header .menu-navigation #nav-enfant ul li #persos,
  .site-header .menu-navigation #nav-enfant ul li #lieu,
  .site-header .menu-navigation #nav-enfant ul li #studio-child {
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  /********************
  Template nomination 
  *********************/
  .nomination {
    padding-top: 80px;
  }
  .nomination .texte-oscar {
    width: 100%;
  }
  .nomination .texte-oscar p {
    font-size: 26px;
    padding: 20px;
  }
  .nomination .image-oscar {
    width: 100%;
    text-align: center;
  }
}
/****************************
/****************************
RESPONSIVE BREAKPOINT 480 px
/****************************
*****************************/
@media all and (max-width: 480px) {
  /* Header - navigation */
  .site-header .menu-navigation #logo-full-menu {
    margin: 10% auto 16%;
  }
  .site-header .menu-navigation #nav-enfant ul #li1:after {
    top: -250%;
    right: -8%;
  }
  .site-header .menu-navigation #nav-enfant ul #li2:before {
    top: -10%;
    left: 0;
  }
  .site-header .menu-navigation #nav-enfant ul #li2:after {
    top: -40%;
    right: -25%;
  }
  .site-header .menu-navigation #nav-enfant ul #li3:after {
    bottom: -240%;
    right: -5%;
  }
  .site-header .menu-navigation #nav-enfant ul #li4:after, .site-header .menu-navigation #nav-enfant ul #li3:before {
    display: none;
  }
  .site-header .menu-navigation #nav-enfant ul li #histoire, .site-header .menu-navigation #nav-enfant ul li #persos, .site-header .menu-navigation #nav-enfant ul li #lieu, .site-header .menu-navigation #nav-enfant ul li #studio-child {
    font-size: 1.3em;
  }
  .site-header .menu-navigation #lien-type-footer {
    margin-top: 20%;
  }
  /* Front-page */
  .banner {
    padding: 5% 0;
  }
  /* Template swiper */
  .swiper {
    max-height: 250px;
  }
  /* Template nomination */
  .nomination {
    width: 100%;
  }
  .nomination .texte-oscar p {
    font-size: 18px;
    padding: 19px 30px 30px 0px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
