/* KEYFRAMES */
:root {
  --animation-duration: 2s;
  --animation-delay: 2s;
}

@keyframes mooveDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  25%, 40% {
    opacity: 0.25;
  }
  55% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimation {
  0% {
    opacity: 0.5;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationOrangeFlower {
  0% {
    opacity: 0.7;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationLeavesOrangeFlower {
  0% {
    opacity: 0.7;
    transform: translateY(55%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mooveUpAnimationFooter {
  0% {
    opacity: 0.5;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(2%);
  }
}
@keyframes mooveUpAnimationFlowersFooter {
  0% {
    opacity: 0.5;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes rotatingFlowers {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animationTitre1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(90%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes animationTitre2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(90%);
    opacity: 0;
  }
  30% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes flottement {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  60% {
    transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}
/* ANIMATIONS SECTIONS ET FLEURS  + HEADER VIDEO */
.site {
  overflow: hidden;
}

.banner {
  background-image: none;
  animation: mooveDownAnimation ease-in-out 2s;
  position: relative;
}
.banner #background-video {
  width: auto;
  height: auto;
  z-index: -1;
  background-image: url(../foce/assets/images/banner.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.banner img {
  animation: flottement 4s ease-in infinite alternate both, mooveUpLogo ease-in-out 2s;
  max-height: 100%;
}
.banner .fixed {
  position: fixed;
  max-width: 720px;
  top: 34%;
}
.banner .absolute {
  position: absolute;
  bottom: 0;
  max-width: 720px;
}

.story h2 {
  width: 100%;
  z-index: 1;
  animation: mooveUpAnimation ease-in-out 2s;
  background-color: transparent;
}
.story h2::after {
  width: 155px;
  height: 155px;
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite;
}
.story__article::before {
  animation: mooveUpAnimationLeavesOrangeFlower ease-in-out 2s;
}
.story__article::after {
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationOrangeFlower ease-in-out 2s;
  z-index: 2;
}
.story__article p {
  z-index: 0;
}

#characters,
#place,
#studio {
  animation: mooveUpAnimation ease-in-out 2s;
}

#place h3 {
  animation: mooveUpAnimation ease-in-out 2s;
}
#place p {
  animation: mooveDownAnimation ease-in-out 2s;
}

#studio h2 {
  animation: mooveUpAnimation ease-in-out 2s;
  background-color: transparent;
}
#studio h2::before {
  width: 203px;
  height: 203px;
}
#studio h2::after {
  width: 109px;
  height: 109px;
}
#studio h2::before, #studio h2::after {
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite;
}
#studio > div::before {
  animation: mooveUpAnimation ease-in-out 2s;
}

.site-footer {
  overflow: visible;
}
.site-footer::after {
  bottom: 47em;
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationFlowersFooter ease-in-out 2s;
}
.site-footer::before {
  width: 155px;
  height: 155px;
  top: -33em;
  left: 5em;
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationFlowersFooter ease-in-out 2s;
}
.site-footer ul {
  animation: mooveUpAnimationFooter ease-in-out 2s;
}
.site-footer ul::after {
  animation: rotatingFlowers var(--animation-duration) var(--animation-delay) linear infinite, mooveUpAnimationFooter ease-in-out 2s;
}

/* ANIMATIONS TITRES */
.anim-titre-initial {
  opacity: 0;
}

.anim-titre-1 {
  display: inline-block;
  animation: animationTitre1 1.5s ease;
}

.anim-titre-2 {
  display: inline-block;
  margin-left: 0.4em;
  animation: animationTitre2 2s ease;
}

/* TEMPLATE NOMINATION OSCAR */
.nomination {
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  animation: mooveUpAnimation ease-in-out 2s;
}
.nomination .texte-oscar {
  background-image: url("assets-images-videos/Rectangle 23.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 35px 0px 70px;
  width: 73%;
  display: flex;
}
.nomination .texte-oscar p {
  color: #FFF5E9;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  font-weight: bold;
  display: flex;
  padding: 5px;
}
.nomination .image-oscar {
  margin: 3em 3em 0 0;
}

/*# sourceMappingURL=style.css.map */
